<a href="https://colab.research.google.com/github/disha222/Books-Machine-Learning-and-data-Science/blob/main/Basic_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

!pip install -q pyspark
!pip install -q handyspark

     |████████████████████████████████| 281.4 MB 43 kB/s
     |████████████████████████████████| 199 kB 67.5 MB/s
  Building wheel for pyspark (setup.py) ... done

In [2]:
pip install handyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: handyspark in /usr/local/lib/python3.8/dist-packages (0.2.2a1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from handyspark) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from handyspark) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from handyspark) (1.7.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from handyspark) (0.11.2)
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (from handyspark) (3.3.1)
Requirement already satisfied: findspark in /usr/local/lib/python3.8/dist-packages (from handyspark) (2.0.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from handyspark) (1.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from handyspark) (1.3.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.8/dist-packages (from handyspark) (9.0.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->handyspark) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->handyspark) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->handyspark) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->handyspark) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->handyspark) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->handyspark) (2022.6)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark->handyspark) (0.10.9.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->handyspark) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->handyspark) (3.1.0)

In [4]:
from typing import Counter
from pyspark import SparkContext
from pyspark.sql import SparkSession,Window,Row
from pyspark.sql import functions as functions
from pyspark.sql.functions import col,isnan,when,count
from pyspark.sql.functions import *
from pyspark.sql .types import *
#------------------------------------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns
from handyspark import *
#-------------------------------------------------------------------------------------------------------------
from pyspark.ml.feature import VectorAssembler
import warnings
warnings.filterwarnings("ignore")

In [5]:
# Building a spark app/session
spark = SparkSession.builder.appName("cementSpark").getOrCreate()

# single cluster information
spark

In [7]:
# Reading the data
df = spark.read.csv('concrete.csv',header=True,inferSchema="true")

#Shape of the dataset
print('Shape of the dataset :',(df.count(),len(df.columns)))

#Displaying top n=10 rows
df.show(n=10)

Shape of the dataset : (1030, 9)
+------+-----+-----+-----+------------+---------+-------+---+--------+
|cement| slag|  ash|water|superplastic|coarseagg|fineagg|age|strength|
+------+-----+-----+-----+------------+---------+-------+---+--------+
| 141.3|212.0|  0.0|203.5|         0.0|    971.8|  748.5| 28|   29.89|
| 168.9| 42.2|124.3|158.3|        10.8|   1080.8|  796.2| 14|   23.51|
| 250.0|  0.0| 95.7|187.4|         5.5|    956.9|  861.2| 28|   29.22|
| 266.0|114.0|  0.0|228.0|         0.0|    932.0|  670.0| 28|   45.85|
| 154.8|183.4|  0.0|193.3|         9.1|   1047.4|  696.7| 28|   18.29|
| 255.0|  0.0|  0.0|192.0|         0.0|    889.8|  945.0| 90|   21.86|
| 166.8|250.2|  0.0|203.5|         0.0|    975.6|  692.6|  7|   15.75|
| 251.4|  0.0|118.3|188.5|         6.4|   1028.4|  757.7| 56|   36.64|
| 296.0|  0.0|  0.0|192.0|         0.0|   1085.0|  765.0| 28|   21.65|
| 155.0|184.0|143.0|194.0|         9.0|    880.0|  699.0| 28|   28.99|
+------+-----+-----+-----+------------+---------+-------+---+--------+
only showing top 10 rows

In [9]:
# Getting description of dataset,similar to pandas df.describe()
df.describe().show()

+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+
|summary|            cement|             slag|               ash|             water|     superplastic|        coarseagg|          fineagg|               age|          strength|
+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+
|  count|              1030|             1030|              1030|              1030|             1030|             1030|             1030|              1030|              1030|
|   mean| 281.1678640776698|73.89582524271844|54.188349514563086|181.56728155339798|6.204660194174756| 972.918932038835|773.5804854368932|45.662135922330094| 35.81796116504854|
| stddev|104.50636449481534|86.27934174810582|63.997004152687644|21.354218565032475| 5.97384139248552|77.75395396672083|80.17598014240438| 63.16991158103246|16.705741961912505|
|    min|             102.0|              0.0|               0.0|             121.8|              0.0|            801.0|            594.0|                 1|              2.33|
|    max|             540.0|            359.4|             200.1|             247.0|             32.2|           1145.0|            992.6|               365|              82.6|
+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+

In [10]:
# Checking for dataframe schema,similar to pandas df.info()
df.printSchema()

root
 |-- cement: double (nullable = true)
 |-- slag: double (nullable = true)
 |-- ash: double (nullable = true)
 |-- water: double (nullable = true)
 |-- superplastic: double (nullable = true)
 |-- coarseagg: double (nullable = true)
 |-- fineagg: double (nullable = true)
 |-- age: integer (nullable = true)
 |-- strength: double (nullable = true)

In [11]:
# Display the values of a particular column
df.select('strength').show()

+--------+
|strength|
+--------+
|   29.89|
|   23.51|
|   29.22|
|   45.85|
|   18.29|
|   21.86|
|   15.75|
|   36.64|
|   21.65|
|   28.99|
|   36.35|
|    6.94|
|   27.92|
|   26.26|
|   23.89|
|   49.97|
|   30.08|
|   44.86|
|   15.04|
|    25.1|
+--------+
only showing top 20 rows

In [12]:
# Display the values of a multiple columns
df.select('age','strength').show()

+---+--------+
|age|strength|
+---+--------+
| 28|   29.89|
| 14|   23.51|
| 28|   29.22|
| 28|   45.85|
| 28|   18.29|
| 90|   21.86|
|  7|   15.75|
| 56|   36.64|
| 28|   21.65|
| 28|   28.99|
| 28|   36.35|
|  3|    6.94|
| 14|   27.92|
|  7|   26.26|
| 28|   23.89|
|100|   49.97|
| 28|   30.08|
| 28|   44.86|
|  3|   15.04|
| 28|    25.1|
+---+--------+
only showing top 20 rows

In [13]:
# Checking the type of dataframe
print(type(df))

# Checking the type of column data
print(type(df.select('strength')))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [14]:
#Displaying datatypes of columns
df.dtypes

[('cement', 'double'),
 ('slag', 'double'),
 ('ash', 'double'),
 ('water', 'double'),
 ('superplastic', 'double'),
 ('coarseagg', 'double'),
 ('fineagg', 'double'),
 ('age', 'int'),
 ('strength', 'double')]

In [15]:
# getting the list of row objects
row_list = df.collect()

#Slicing the python list
part1 = row_list[:5]
part2 = row_list[5:]

#Converting the slices to PySpark Dataframes
slice1 =spark.createDataFrame(part1)
slice2 =spark.createDataFrame(part2)

#printing the first slice
print('First DataFrame')
slice1.show()

#printing the second slice
print('Second DataFrame')
slice2.show()

First DataFrame
+------+-----+-----+-----+------------+---------+-------+---+--------+
|cement| slag|  ash|water|superplastic|coarseagg|fineagg|age|strength|
+------+-----+-----+-----+------------+---------+-------+---+--------+
| 141.3|212.0|  0.0|203.5|         0.0|    971.8|  748.5| 28|   29.89|
| 168.9| 42.2|124.3|158.3|        10.8|   1080.8|  796.2| 14|   23.51|
| 250.0|  0.0| 95.7|187.4|         5.5|    956.9|  861.2| 28|   29.22|
| 266.0|114.0|  0.0|228.0|         0.0|    932.0|  670.0| 28|   45.85|
| 154.8|183.4|  0.0|193.3|         9.1|   1047.4|  696.7| 28|   18.29|
+------+-----+-----+-----+------------+---------+-------+---+--------+

Second DataFrame
+------+-----+-----+-----+------------+---------+-------+---+--------+
|cement| slag|  ash|water|superplastic|coarseagg|fineagg|age|strength|
+------+-----+-----+-----+------------+---------+-------+---+--------+
| 255.0|  0.0|  0.0|192.0|         0.0|    889.8|  945.0| 90|   21.86|
| 166.8|250.2|  0.0|203.5|         0.0|    975.6|  692.6|  7|   15.75|
| 251.4|  0.0|118.3|188.5|         6.4|   1028.4|  757.7| 56|   36.64|
| 296.0|  0.0|  0.0|192.0|         0.0|   1085.0|  765.0| 28|   21.65|
| 155.0|184.0|143.0|194.0|         9.0|    880.0|  699.0| 28|   28.99|
| 151.8|178.1|138.7|167.5|        18.3|    944.0|  694.6| 28|   36.35|
| 173.0|116.0|  0.0|192.0|         0.0|    946.8|  856.8|  3|    6.94|
| 385.0|  0.0|  0.0|186.0|         0.0|    966.0|  763.0| 14|   27.92|
| 237.5|237.5|  0.0|228.0|         0.0|    932.0|  594.0|  7|   26.26|
| 167.0|187.0|195.0|185.0|         7.0|    898.0|  636.0| 28|   23.89|
| 213.8| 98.1| 24.5|181.7|         6.7|   1066.0|  785.5|100|   49.97|
| 237.5|237.5|  0.0|228.0|         0.0|    932.0|  594.0| 28|   30.08|
| 336.0|  0.0|  0.0|182.0|         3.0|    986.0|  817.0| 28|   44.86|
| 190.7|  0.0|125.4|162.1|         7.8|   1090.0|  804.0|  3|   15.04|
| 312.7|  0.0|  0.0|178.1|         8.0|    999.7|  822.2| 28|    25.1|
| 229.7|  0.0|118.2|195.2|         6.1|   1028.1|  757.6|  3|   13.36|
| 228.0|342.1|  0.0|185.7|         0.0|    955.8|  674.3|  7|   21.92|
| 236.0|157.0|  0.0|192.0|         0.0|    972.6|  749.1|  7|   20.42|
| 132.0|207.0|161.0|179.0|         5.0|    867.0|  736.0| 28|    33.3|
| 331.0|  0.0|  0.0|192.0|         0.0|   1025.0|  821.0| 28|   31.74|
+------+-----+-----+-----+------------+---------+-------+---+--------+
only showing top 20 rows

In [17]:
# adding a new column to the dataset
df1 = df.withColumn("Cement_new",df['strength']*2)

# displaying the new dataframe
df1.show()

+------+-----+-----+-----+------------+---------+-------+---+--------+----------+
|cement| slag|  ash|water|superplastic|coarseagg|fineagg|age|strength|Cement_new|
+------+-----+-----+-----+------------+---------+-------+---+--------+----------+
| 141.3|212.0|  0.0|203.5|         0.0|    971.8|  748.5| 28|   29.89|     59.78|
| 168.9| 42.2|124.3|158.3|        10.8|   1080.8|  796.2| 14|   23.51|     47.02|
| 250.0|  0.0| 95.7|187.4|         5.5|    956.9|  861.2| 28|   29.22|     58.44|
| 266.0|114.0|  0.0|228.0|         0.0|    932.0|  670.0| 28|   45.85|      91.7|
| 154.8|183.4|  0.0|193.3|         9.1|   1047.4|  696.7| 28|   18.29|     36.58|
| 255.0|  0.0|  0.0|192.0|         0.0|    889.8|  945.0| 90|   21.86|     43.72|
| 166.8|250.2|  0.0|203.5|         0.0|    975.6|  692.6|  7|   15.75|      31.5|
| 251.4|  0.0|118.3|188.5|         6.4|   1028.4|  757.7| 56|   36.64|     73.28|
| 296.0|  0.0|  0.0|192.0|         0.0|   1085.0|  765.0| 28|   21.65|      43.3|
| 155.0|184.0|143.0|194.0|         9.0|    880.0|  699.0| 28|   28.99|     57.98|
| 151.8|178.1|138.7|167.5|        18.3|    944.0|  694.6| 28|   36.35|      72.7|
| 173.0|116.0|  0.0|192.0|         0.0|    946.8|  856.8|  3|    6.94|     13.88|
| 385.0|  0.0|  0.0|186.0|         0.0|    966.0|  763.0| 14|   27.92|     55.84|
| 237.5|237.5|  0.0|228.0|         0.0|    932.0|  594.0|  7|   26.26|     52.52|
| 167.0|187.0|195.0|185.0|         7.0|    898.0|  636.0| 28|   23.89|     47.78|
| 213.8| 98.1| 24.5|181.7|         6.7|   1066.0|  785.5|100|   49.97|     99.94|
| 237.5|237.5|  0.0|228.0|         0.0|    932.0|  594.0| 28|   30.08|     60.16|
| 336.0|  0.0|  0.0|182.0|         3.0|    986.0|  817.0| 28|   44.86|     89.72|
| 190.7|  0.0|125.4|162.1|         7.8|   1090.0|  804.0|  3|   15.04|     30.08|
| 312.7|  0.0|  0.0|178.1|         8.0|    999.7|  822.2| 28|    25.1|      50.2|
+------+-----+-----+-----+------------+---------+-------+---+--------+----------+
only showing top 20 rows

In [18]:
# Droping the newly added column
df2 = df1.drop('Cement_new')
# Displaying the new DataFrame
df2.show()

+------+-----+-----+-----+------------+---------+-------+---+--------+
|cement| slag|  ash|water|superplastic|coarseagg|fineagg|age|strength|
+------+-----+-----+-----+------------+---------+-------+---+--------+
| 141.3|212.0|  0.0|203.5|         0.0|    971.8|  748.5| 28|   29.89|
| 168.9| 42.2|124.3|158.3|        10.8|   1080.8|  796.2| 14|   23.51|
| 250.0|  0.0| 95.7|187.4|         5.5|    956.9|  861.2| 28|   29.22|
| 266.0|114.0|  0.0|228.0|         0.0|    932.0|  670.0| 28|   45.85|
| 154.8|183.4|  0.0|193.3|         9.1|   1047.4|  696.7| 28|   18.29|
| 255.0|  0.0|  0.0|192.0|         0.0|    889.8|  945.0| 90|   21.86|
| 166.8|250.2|  0.0|203.5|         0.0|    975.6|  692.6|  7|   15.75|
| 251.4|  0.0|118.3|188.5|         6.4|   1028.4|  757.7| 56|   36.64|
| 296.0|  0.0|  0.0|192.0|         0.0|   1085.0|  765.0| 28|   21.65|
| 155.0|184.0|143.0|194.0|         9.0|    880.0|  699.0| 28|   28.99|
| 151.8|178.1|138.7|167.5|        18.3|    944.0|  694.6| 28|   36.35|
| 173.0|116.0|  0.0|192.0|         0.0|    946.8|  856.8|  3|    6.94|
| 385.0|  0.0|  0.0|186.0|         0.0|    966.0|  763.0| 14|   27.92|
| 237.5|237.5|  0.0|228.0|         0.0|    932.0|  594.0|  7|   26.26|
| 167.0|187.0|195.0|185.0|         7.0|    898.0|  636.0| 28|   23.89|
| 213.8| 98.1| 24.5|181.7|         6.7|   1066.0|  785.5|100|   49.97|
| 237.5|237.5|  0.0|228.0|         0.0|    932.0|  594.0| 28|   30.08|
| 336.0|  0.0|  0.0|182.0|         3.0|    986.0|  817.0| 28|   44.86|
| 190.7|  0.0|125.4|162.1|         7.8|   1090.0|  804.0|  3|   15.04|
| 312.7|  0.0|  0.0|178.1|         8.0|    999.7|  822.2| 28|    25.1|
+------+-----+-----+-----+------------+---------+-------+---+--------+
only showing top 20 rows

In [19]:
data = df.toPandas()
print('Type of dataframe', type(data))
print('Shape of the dataframe (Pandas Version):', data.shape)
data.head()

Type of dataframe <class 'pandas.core.frame.DataFrame'>
Shape of the dataframe (Pandas Version): (1030, 9)

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29

**Data Pre-Processing**

In [22]:
# creating a dataframe to check null value counts
null_df=df.select([count(when(col(c).contains('None')|\

                              col(c).contains('Null')|\

                              (col(c)=='')|\

                              col(c).isNull()|\

                              isnan(c),c

                              )).alias(c)

                              for c in df.columns])



#Displaying the null values counts dataframe

null_df.show()

+------+----+---+-----+------------+---------+-------+---+--------+
|cement|slag|ash|water|superplastic|coarseagg|fineagg|age|strength|
+------+----+---+-----+------------+---------+-------+---+--------+
|     0|   0|  0|    0|           0|        0|      0|  0|       0|
+------+----+---+-----+------------+---------+-------+---+--------+